<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.felkertech.sample.channelsurfer"
    tools:ignore="MissingLeanbackLauncher,MissingLeanbackSupport">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/banner"
        android:restrictedAccountType="@string/app_name"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <service
            android:name=".SampleTvInputProvider"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_TV_INPUT">
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>

            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/channel_surfer_tv_input" />
        </service>

        <meta-data
            android:name="TvInputService"
            android:value="com.felkertech.sample.channelsurfer.SampleTvInputProvider" />

        <activity
            android:name=".SampleTvSetup"
            android:enabled="true"
            android:exported="true"
            android:label="@string/title_activity_sample_tv_setup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dfe843f8af6acfe924ff6efa0c816fda4ece9f5c" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
